[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HAASJ/CLV-P-HAASJ.nes
Name=Zelda II - The Adventure of Link
Icon=usr/share/games/nes/kachikachi/CLV-P-HAASJ/CLV-P-HAASJ.png

[X-CLOVER Game]
Players=1
Simultaneous=0
ReleaseDate=1987-01-14
SortRawTitle=zelda ii - the adventure of link
SortRawPublisher=NINTENDO
Copyright=Zelda II - The Adventure of Link ©1987 Nintendo
