[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HACAJ/CLV-P-HACAJ.nes
Name=Yie Ar KUNG-FU
Icon=usr/share/games/nes/kachikachi/CLV-P-HACAJ/CLV-P-HACAJ.png

[X-CLOVER Game]
Players=1
Simultaneous=0
ReleaseDate=1985-04-22
SortRawTitle=yie ar kung-fu
SortRawPublisher=KONAMI
Copyright=Yie Ar KUNG-FU ©1985 Konami Digital Entertainment
