[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HABCJ/CLV-P-HABCJ.nes
Name=GHOSTS'N GOBLINS
Icon=usr/share/games/nes/kachikachi/CLV-P-HABCJ/CLV-P-HABCJ.png

[X-CLOVER Game]
Players=2
Simultaneous=0
ReleaseDate=1986-06-13
SortRawTitle=ghosts'n goblins
SortRawPublisher=CAPCOM
Copyright=GHOSTS'N GOBLINS ©CAPCOM CO., LTD. 1986, 2016 ALL RIGHTS RESERVED.
