[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HAARJ/CLV-P-HAARJ.nes
Name=Balloon Fight
Icon=usr/share/games/nes/kachikachi/CLV-P-HAARJ/CLV-P-HAARJ.bmp

[X-CLOVER Game]
Players=2
Simultaneous=1
ReleaseDate=1985-01-22
SortRawTitle=balloon fight
SortRawPublisher=NINTENDO
Copyright=Balloon Fight ©1984 Nintendo
