[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HACLJ/CLV-P-HACLJ.nes
Name=Downtown Nekketsu Koushinkyoku: Soreyuke Daiundoukai
Icon=usr/share/games/nes/kachikachi/CLV-P-HACLJ/CLV-P-HACLJ.png

[X-CLOVER Game]
Players=4
Simultaneous=1
ReleaseDate=1990-08-07
SortRawTitle=downtown nekketsu Koushinkyoku soreyuke daiundoukai
SortRawPublisher=TECHNOS
Copyright=Downtown Nekketsu Koushinkyoku: Soreyuke Daiundoukai © ARC SYSTEM WORKS
