[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HACHJ/CLV-P-HACHJ.nes
Name=DOUBLE DRAGON II: The Revenge
Icon=usr/share/games/nes/kachikachi/CLV-P-HACHJ/CLV-P-HACHJ.png

[X-CLOVER Game]
Players=2
Simultaneous=1
ReleaseDate=1989-12-22
SortRawTitle=double dragon ii the revenge
SortRawPublisher=ARC SYSTEM WORKS
Copyright=DOUBLE DRAGON II: The Revenge © ARC SYSTEM WORKS
