[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HAAUJ/CLV-P-HAAUJ.nes
Name=Ice Climber
Icon=usr/share/games/nes/kachikachi/CLV-P-HAAUJ/CLV-P-HAAUJ.png

[X-CLOVER Game]
Players=2
Simultaneous=1
ReleaseDate=1985-01-30
SortRawTitle=ice climber
SortRawPublisher=NINTENDO
Copyright=Ice Climber ©1984 Nintendo