[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HAAMJ/CLV-P-HAAMJ.nes
Name=Mario Open Golf
Icon=usr/share/games/nes/kachikachi/CLV-P-HAAMJ/CLV-P-HAAMJ.png

[X-CLOVER Game]
Players=2
Simultaneous=0
ReleaseDate=1991-09-20
SortRawTitle=mario open golf
SortRawPublisher=NINTENDO
Copyright=Mario Open Golf ©1991 Nintendo
