[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HAAXJ/CLV-P-HAAXJ.nes
Name=Dr. MARIO
Icon=usr/share/games/nes/kachikachi/CLV-P-HAAXJ/CLV-P-HAAXJ.bmp

[X-CLOVER Game]
Players=2
Simultaneous=1
ReleaseDate=1990-07-27
SortRawTitle=dr. mario
SortRawPublisher=NINTENDO
Copyright=Dr. MARIO ©1990 Nintendo
