[Desktop Entry]
Exec=usr/share/games/nes/kachikachi/CLV-P-HAAEJ/CLV-P-HAAEJ.nes
Name=Donkey Kong
Icon=usr/share/games/nes/kachikachi/CLV-P-HAAEJ/CLV-P-HAAEJ.png

[X-CLOVER Game]
Players=2
Simultaneous=0
ReleaseDate=1983-07-15
SortRawTitle=donkey kong
SortRawPublisher=NINTENDO
Copyright=Donkey Kong ©1981 Nintendo
